<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/emailingPage.css') }}">
    <title>Emailing page</title>
</head>
<body>
    <h1>Email an existing user</h1>

    <div class="box">
        <form method="POST">
            <h2>Enter Email</h2>
            <input name="email-parameter">
            <p>
              <input type="submit">
            </p>
        </form>
        <a href="/"><button>Home</button></a>
        <a href="/captureForm"><button>Capture</button></a>
    </div>
</body>
</html>