<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Status</title>
</head>
<body>
    <h2>Choose theme</h2>
    <form method="POST">
        <p><input type="submit" value="Theme One"/></p>
        <p><input type="submit" value="Theme Two"/></p>
        <p><input type="submit" value="Theme Three"/></p>
        <p><input type="submit" value="Theme Four"/></p>
        <p><input type="submit" value="Theme Five"/></p>
    </form>
</body>
</html>