body{
    color: #ddd;
    background-color: #3c3f58;
}

div h2{
    text-align: center;
    font-size: 52px;
    color: #3BBA9C;
}

.wrapper{
    background-color: #2e3047;
}

.wrapper div{
    font-size: 32px;
}

div{
    font-size: 20px;
    padding: 20px 20px 20px 20px;
}

.level{
    color: #3BBA9C;;
}

a > button{
    padding: 10px 50px 10px 50px;
    font-weight: bolder;
    font-size: 25px;
    background-color: #3BBA9C;;
    color: #ddd;
}

.buttons{
    text-align: center;
}

.img{
    text-align: center;
}

.img img{
    width: 50%;
    height: 70%;
}

/* CUSTOM SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #3c3f58;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3BBA9C;;
    border-radius: 10px;
  }
  
  pre code {
    background-color: #3c3f58;
    display: block;
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    padding: 5% 10% 5% 0;

    color: #3BBA9C;
}

@media (min-width:320px)  {
    pre code {
        width: 90%;
        font-size: 10px;
    }
}

@media (min-width:480px){
    pre code {
        width: 90%;
        font-size: 10px;
    }
}

@media (min-width:600px){
    pre code {
        width: 90%;
        font-size: 8px;
    }
}

@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    pre code {
        width: 90%;
        font-size: 10px;
    }
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
    pre code {
        width: 80%;
        font-size: 20px;
    }
}

@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    pre code {
        width: 80%;
        font-size: 20px;
    }
}